body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	margin:0;
	padding:0;
}

body {
	width: 100%;

	font-weight: 400;
	font-size: 15px;
	color: black;
}

a {
	text-decoration: none;
}

#header {
	position: absolute;
	z-index: 2000;
	width: 235px;
	top: 50px;
}

#header h1 {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	background: #000;
}

#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
}

#navigation a {
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}

#navigation a:hover {
	background: #ddd;
}

.content {
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}

.content h2 {
	font-size: 40px;
	padding: 10px 0px 20px 0px;
	margin-top: 52px;
	color: #fff;
	color: black;
	text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}

.content p {
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: black;
	display: inline-block;
	text-align: justify;
	padding: 10px;
	margin: 3px 0px;
}

.panel {
	min-width: 100%;
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: -150%;

	opacity: 0;
	z-index:2;
	/*Estos transitions son creados para trabajar en los distintos browser (Chrome-Mozilla-Opera-explorer-Default)*/
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}

.panel:target {
	/*Define la transparencia de un elemento*/
	opacity: 1;
	margin-top: 0%;
}

.row {
	display: inline-flex;
}

/* Todo lo del media query se aplicara cuando el tamaño de la pantalla sea menor a 600px*/
@media (max-width: 600px) {
	#header {
		width: 100%;
		top:0;

	}

	.content {
    	right: 5%;
    	left: 5%;
    	top: 10%;
    	position: absolute;
    	padding-bottom: 30px;
    }

	nav {
	  	width: 100%;
	    font-size: 16px;
	    font-weight: bold;
	    text-align: center;
	    background-color: white;
	    padding-bottom: 3px;
	  }

  	#navigation {
		margin-top: 20px;
		width: 100%;
		display:block;
		list-style:none;
		z-index:3;

		height: auto;
	    padding: 0;
	    margin: 0px;
	}

	.item {
		display: inline;
	}

	#navigation a {
		display: inline;
		padding: 17px;
		background-color: transparent;
	}

  }