body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html, body {
	height:100%;
	margin:0;
	padding:0;
}
body {
	width: 100%;
	
	font-weight: 400;
	font-size: 15px;
	color: black;
}

a {
	text-decoration: none;
}

#header {
	position: absolute;
	z-index: 2000;
	width: 235px;
	top: 50px;
}
#header h1 {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	background: #000;
}
#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a {
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}

.content {
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}

.content h2 {
	font-size: 40px;
	padding: 10px 0px 20px 0px;
	margin-top: 52px;
	color: #fff;
	color: black;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.content p {
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: black;
	display: inline-block;
	text-align: justify;
	padding: 10px;
	margin: 3px 0px;
}

.panel {
	min-width: 100%;
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: -150%;
	
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
.panel:target {
	opacity: 1;
	margin-top: 0%;
}

.img {
	background: #d0d0d0;
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    float: left;
    margin: 0 0 30px 30px;
    overflow: hidden;
    padding: 9px;
    position: relative;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    width: 280px;
    height: 280px;
}

.img img {
	border-radius: 50%;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.img img:hover {
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

.row {
	display: inline-flex;
}

.circle {
	background: #000;
    border-radius: 50%;
    float: left;
    margin: 0 0 15px 15px;
    padding: 9px;
    width: 70px;
    height: 70px;
    display: inline-table;
    text-align: center;
}

.circle h1 {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 15px;
}

.input{
	width: 330px;
    height: 30px;
    font-size: 15px;
    padding: 0 5px 0 5px;
    margin: 5px 0 10px 0;
    border: 1px solid #000;
}

textarea.input{
	height: 100px !important;
}


.stuff {
    opacity: 0.0;
    color: rgb(1, 174, 242);
    font-size: 18px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.hover {
    
}
.hover:hover + .stuff {
    opacity: 1.0;
}

@media (max-width: 600px) {
	#header{
		width: 100%;
		top:0; 
	}

	.content {
    	right: 5%;
    	left: 5%;
    	top: 10%;
    	position: absolute;
    	padding-bottom: 30px;
    }

	nav{
	  	width: 100%;
	    height: 35px;
	    font-size: 16px;
	    font-weight: bold;
	    text-align: center;
	  }

  	#navigation {
		margin-top: 20px;
		width: 100%;
		display:block;
		list-style:none;
		z-index:3;

		height: auto;
	    padding: 0;
	    margin: 0px;
	}

	.item{
		display: inline; 
	}

	#navigation a {
		display: inline; 
		padding: 17px;
		background-color: transparent;	
	}


  }